<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="my-2">
    <%= form.label :year, class: "form-label" %>
    <%= form.text_field :year, class: "form-control" %>
  </div>

  <div>
    <%= form.label :poster, class: "form-label" %>
    <%= form.file_field :poster, class: "form-control" %>
  </div>
  
  <div class="my-2">
    <%= render "movies/directors/form", form: form %>
  </div>

  <div class="my-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
