<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/meta_tags" %>

    <!-- stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- javascript -->
    <%= javascript_importmap_tags %>
    <%= render "shared/cdn_links" %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container-fluid">
      <%= render "shared/flash" %>
      <%= render "shared/breadcrumbs" %>
    </div>
    <%= yield %>
  </body>
</html>
